@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HomeworX</h1>
    <p class="lead">
        HomeworX ist eine Applikation mit welcher man seine Hausaufgaben und Prüfungen erfassen kann. 
        
        Dieses Projekt wurde als Projektarbeit im Modul 151 durch Jenni Maurin und Hodel Jonas realisiert.
    </p>
</div>

<div class="row">
    
    <div class="col-md-3">
        @Html.ActionLink("Hausaufgaben", "Index","Homework", null, new { @class = "btn btn-default btn-block btn-lg" })
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Prüfungen", "Index", "Exam", null, new { @class = "btn btn-default btn-block btn-lg" })
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Fächer", "Index", "Subject", null, new {@class = "btn btn-default btn-block btn-lg"})
    </div>

    <div class="col-md-3">
        @Html.ActionLink("Themen", "Index", "Topic", null, new { @class = "btn btn-default btn-block btn-lg" })
    </div>
</div>